body {
    background-color:black;
    color:white;
    padding:10%;
}
.player{
    padding:20px 20px;
      margin: 1%;
    background-color:#222222;
    border-radius:16px;
    }
.internal-player-image{
    height:200px;
    width:200px;
    margin: 6%;
    border-radius:8px;
    background-color:green;
}
.internal-timeline{
    margin: 50px;
 }
.internal-name{
    margin-top: 50px;
 }
.internal-player-main{
    border-radius:8px;
    height:50px;
    width:50px;
    margin-left: 80px;
    background-color:#656565;
}
.internal-player-left{
    border-radius:8px;
    height:50px;
    width:50px;
    margin: 10px;
    background-color:#656565;
}
.internal-player-right{
    border-radius:8px;
    height:50px;
    width:50px;
    margin-left: 80px;
    background-color:#656565;
}
