body {
    background-color: black;
    font-family: cursive;
    color: white;
    padding: 1%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    border-color: white;
    height: 80%;
    width: 80%;
    margin-top: 1%;
}
.grid-player {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1%;
    background-color: transparent;
    border-radius: 16px;
    padding: 20px 20px;
}
.h11{
        margin: 4%;
}
.internal-player-image {
    height: 250px;
    width: 280px;
    border-radius: 8px;
    background-color: green;
}

.internal-timeline {
    margin: 5%;
      font-family: serif;
}

.internal-name {
    margin: 5%;
}

.internal-player-play {
    border-radius: 8px;
    height: 30px;
    width: 30px;
    margin: 4.5%;
    z-index: 123;
    background-color: white;
}

.internal-player-pause {
    border-radius: 8px;
    height: 30px;
    width: 30px;
    margin: 4.5%;
    z-index: 123;
    background-color: black;
}

.internal-player-main {
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin-right: 50%;
    margin-left: 50%;
    opacity: 0.8;
    background-color: green;
}
.internal-player-right {
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin-right: 50%;
    margin-left: 50%;
    opacity: 0.7;
    background-color: #656565;
}
.range{
    padding:10%;
}
.preloadr {
            position: fixed;
            z-index: 90;
            top: 0;
            left: 0;
            background: black;
            display: flex;
            pointer-events: none;
            opacity:0;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
.hide {
    padding-bottom: 65%;
}
.container{
    display: flex;
}
.fixed{
    width: 50%;
}
.flex-item{
    flex-grow: 1;
}
.texter{
    align-content: center;
         margin: 20%;
         margin-bottom: 40%;
         margin-top: 40%;
}
.HEAD{
    color: #7434eb;
}